---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/UI/header.astro";
import Footer from "../../components/UI/footer.astro";
import CaseGif from "../../components/work/casegif.astro";
import Overskrift2 from "../../components/blocks/overskrift2.astro";
import Underoverskrift from "../../components/blocks/underoverskrift.astro";
import Display from "../../components/work/display.astro";
import Brodtekst from "../../components/blocks/brodtekst.astro";


import { casearray } from "../../scripts/casearray";

export async function getStaticPaths() {
  return casearray.map((c) => ({
    params: { slug: c.slug },
    props: { caseData: c },
  }));
}

const { caseData } = Astro.props;
const { titel, undertitel, billede, gif, text, imgdisplay } = caseData;
---

<Layout>
  <Header titel={titel} />
  <div class="grid md:gap-25 gap-18">
    <CaseGif src={gif} alt={titel} />
    <div class="grid gap-10">
      <div>
        <Overskrift2 titel={titel}/> 
        <Underoverskrift>
          {undertitel.map((paragraph) => <h3 class="text-lg">{`> ${paragraph}`}</h3>)}
        </Underoverskrift>
      </div>
      <Brodtekst>{text.map((paragraph) => <p>{paragraph}</p>)}</Brodtekst>
    </div>
    <div class="grid gap-10">
      <div>
        <Overskrift2 titel="Fotos fra projekt"/> 
        <Underoverskrift>
          <h3 class="text-lg">{`> Udvalgte billeder af casen`}</h3>
        </Underoverskrift>
      </div>  
      <Display images={imgdisplay} />
    </div>
    <Footer />
  </div>
  
</Layout>
